
  
  <div class="outside">
 
    <div class="inside">
      <div class="icon">
       
       <h2 class="heading">PayRoll Portal</h2>
        <h3 class="sign">Sign In</h3>
      </div>
              <div class="emailform">
                <form class="formlogin" [formGroup]="loginForm" action=" " (submit)="navigatelogin()" autocomplete="off" method="POST">
              <mat-form-field class="email" style="width:100%;">
                <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
                <span matSuffix style="color: firebrick;" >@accionlabs.com</span>
                <mat-error *ngIf="!loginForm.hasError('pattern')">
                  Enter <strong>valid </strong>Email Id
                </mat-error> 
              </mat-form-field>
              <mat-form-field class="example-full-width" style="width:100%;">
                <input matInput placeholder="Password"  matTooltip=" Minimum eight characters, at least one Caps, one number and one special character:"  [type]="hide ? 'password' : 'text'" formControlName="password" [errorStateMatcher]="matcher">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="!loginForm.hasError('pattern')">
                 password is required
                  </mat-error>
              </mat-form-field>
              <mat-checkbox>Remember me!</mat-checkbox>
              </form>
                </div>

                <div class="buttons">
                  <button mat-flat-button class="forlog" (click)="navigateforgot()">Forgot password?</button>
                  <button id="loginbtn" mat-flat-button class="login" (click)="navigatelogin()">Login</button>
               
                  <button id="regisbtn" mat-flat-button class="registerd" matTooltip="new user register here!!" Class="example-tooltip-red" (click)="navigateRegister()">not yet registerd? <span class="regi">Register</span></button>
           </div>     
    </div>
</div>