<div class="form">
<div class="outer1">  
  <h2>Employee Information</h2> 
  <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
  <h4>Please fill out  information below.</h4>

</div>
<div class="outer" [formGroup]="addForm" >
<mat-form-field class="example-full-width">
<input matInput placeholder="Employee Id" formControlName="Employee_ID" />
<mat-error *ngIf="!addForm.hasError('pattern')">
please enter valid number
</mat-error>
</mat-form-field>

<mat-form-field class="example-full-width">
<input
matInput
placeholder="Employee Name"
formControlName="EmployeeName"
/>
<mat-error *ngIf="!addForm.hasError('pattern')">
please enter valid name
</mat-error>
</mat-form-field>

<mat-form-field>
<input readonly
matInput
[matDatepicker]="picker"
placeholder="Date of join"
formControlName="DateOfJoining"
/>
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>
<mat-error *ngIf="!addForm.controls.DateOfJoining.valid">
enter valid date [MM/DD/YYYY]
</mat-error>
</mat-form-field>
<mat-form-field class="example-full-width">
<input matInput placeholder="pay Cycle" formControlName="PayCycle" />
<mat-error *ngIf="!addForm.controls.PayCycle.valid">
enter paycycle month
</mat-error>
</mat-form-field>


<mat-form-field class="example-full-width">
<input
matInput
placeholder="Annual Fixed CTC"
formControlName="AnnualFixedCTC"
/>
<mat-error *ngIf="!addForm.hasError('pattern')">
AnnualFixedCTC required
</mat-error>
</mat-form-field>

<mat-form-field class="example-full-width">
<input
matInput
placeholder="Monthly Fixed CTC"
formControlName="MonthlyFixedCTC"
/>
<mat-error *ngIf="!addForm.hasError('pattern')">
MonthlyFixedCTC required
</mat-error>
</mat-form-field>


<mat-form-field class="example-full-width">
<input
matInput
placeholder="Total Performance Bonus"
formControlName="TotalPerformanceBonus"
/>
<mat-error *ngIf="!addForm.hasError('pattern')">
TotalPerformanceBonus required
</mat-error>
</mat-form-field>
<mat-form-field class="example-full-width">
<input
matInput
placeholder="PB Installments"
formControlName="PB_Installments"
/>
<mat-error *ngIf="!addForm.hasError('pattern')">
PB_Installments required
</mat-error>
</mat-form-field>

<mat-form-field class="example-full-width">
<input
matInput
placeholder="PB EachPayment"
formControlName="PB_EachPayment"
/>
<mat-error *ngIf="!addForm.hasError('pattern')">
PB_EachPayment required
</mat-error>
</mat-form-field>
<mat-form-field class="example-full-width">
<input
matInput
placeholder="Joining Bonus"
formControlName="JoiningBonus"
/>
<mat-error *ngIf="!addForm.hasError('pattern')">
JoiningBonus required
</mat-error>
</mat-form-field>

<mat-form-field class="example-full-width">
<input
matInput
placeholder="JB Installments"
formControlName="JB_Installments"
/>
<mat-error *ngIf="!addForm.hasError('pattern')">
PB_EachPayment required
</mat-error>
</mat-form-field>
<mat-form-field class="example-full-width">
<input
matInput
placeholder="JB EachPayment"
formControlName="JB_EachPayment"
/>
<mat-error *ngIf="!addForm.hasError('pattern')">
JB_EachPayment required
</mat-error>
</mat-form-field>

<mat-form-field class="example-full-width">
<input
matInput
placeholder="Medical Insurance"
formControlName="MedicalInsurance"
/>
<mat-error *ngIf="!addForm.hasError('pattern')">
MedicalInsurance required
</mat-error>
</mat-form-field>
<mat-form-field class="example-full-width">
<input matInput placeholder="Total CTC" formControlName="TotalCTC" />
<mat-error *ngIf="!addForm.hasError('pattern')">
    TotalCTC required
  </mat-error>

 </mat-form-field>

        <div class="clearbtn">
       
        </div>

        <div class="savebtn">
        <button mat-stroked-button color="primary" (click)="reset()">Clear</button>
        <button mat-stroked-button color="warn" *ngIf="showsave" (click)="saveEmployee()"
         type="submit">Save</button>
         <button mat-stroked-button color="warn" *ngIf="showedit" (click)="editEmployee()"
         type="submit">edit</button>
        <!-- [disabled]=registerForm.invalid -->
      </div> 
</div>
</div>

<!-- 
(click)="updateEmployee(Employee_ID.value,EmployeeName.value,DateOfJoining.valid,payCycle.value,
AnnualFixedCTC.value,MonthlyFixedCTC.value,TotalPerformanceBonus.value,PB_Installments.value
,PB_EachPayment.value,JoiningBonus.value,JB_Installments.value,JB_EachPayment.value,
MedicalInsurance.value) " -->


