<div class="outside">
  <div class="inside" [formGroup]="forgotForm">
    <div class="emailform" *ngIf="show1"  >
      <mat-form-field class="email" style="width:100%;" >
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          [errorStateMatcher]="matcher"
        />
        <span matSuffix style="color: firebrick;">@accionlabs.com</span>
        <mat-error *ngIf="!forgotForm.hasError('pattern')">
          Enter <strong>valid </strong>Email Id
        </mat-error>
      </mat-form-field>
    </div>
    <div class="sendbtn" >
      <button mat-stroked-button color="warn" [disabled]="!forgotForm.controls.email.valid" (click)="sendmail()">
        verfiy
      </button>
    </div>
    <div class="access" *ngIf="show2">
      <mat-form-field class="example-full-width" style="width:100%;">
        <input matInput placeholder="accesscode"  formControlName="accesscode"/>
        <mat-error *ngIf="isValid('accesscode') && !forgotForm.hasError('pattern')">
           please enter accesscode number
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Enter your password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          style="width:100%;"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error >
         
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Enter your confirm password"
          formControlName="confirmpassword"
          [type]="hide ? 'password' : 'text'"
          style="width:100%;"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error *ngIf = "forgotForm.controls.confirmpassword.value.length == 0" >
            confirm passwrod required
          </mat-error>
        <mat-error >
          password missmatch
        </mat-error>
        
      </mat-form-field>
    </div>
    <div class="clearbtn">
    <button mat-stroked-button color="primary" (click)="reset()">Clear</button>
    </div>
    <div class="savebtn">
    <button mat-stroked-button color="accent"  (click)="save()" [disabled]="!forgotForm.valid">Save</button>
  </div>
  </div>
</div>
