.outside{
    height: 97vh;
    display:grid;
    grid-template-columns:2fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image:url( '../../assets/3.jpg'); 
    background-size: cover;
}

.inside{
    background-color: white; 
    grid-column: 2/3;
    grid-row: 2/3;
    box-shadow: 0 -8px 6px -6px black;
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap:10px;
}
.mat-stroked-button{
    border: 1px solid currentColor;
}

.emailform{
   
    grid-column: 2/3;
    grid-row:1/2;
    justify-self: center;
    align-self:center;
}
.sendbtn{
    grid-column: 3/4;
    grid-row:1/2;
    justify-self: center;
    align-self:center;
}
.access{
    grid-column: 2/3;
    grid-row:2/3;
}

.mat-form-field{
    width: 100%;
}
.clearbtn{
    grid-column: 2/3;
    grid-row:3/4;
    justify-self: end;
    align-self:center;
 
}
.savebtn{
    grid-column: 3/4;
    grid-row:3/4;
    justify-self: start;
    align-self:center;
}