<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="Employee_ID" sticky>
      <th mat-header-cell *matHeaderCellDef> Employee_ID </th>
      <td mat-cell *matCellDef="let element"> {{element.Employee_ID}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="EmployeeName">
      <th mat-header-cell *matHeaderCellDef> EmployeeName</th>
      <td mat-cell *matCellDef="let element"> {{element.EmployeeName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="DateofJoining">
      <th mat-header-cell *matHeaderCellDef> DateofJoining </th>
      <td mat-cell *matCellDef="let element"> {{element.DateofJoining}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="PayrollCycle">
      <th mat-header-cell *matHeaderCellDef> PayrollCycle </th>
      <td mat-cell *matCellDef="let element"> {{element.PayrollCycle}} </td>
    </ng-container>
    <ng-container matColumnDef="AnnualFixedCTC">
      <th mat-header-cell *matHeaderCellDef> AnnualFixedCTC </th>
      <td mat-cell *matCellDef="let element"> {{element.AnnualFixedCTC}} </td>
    </ng-container>
    <ng-container matColumnDef="MonthlyFixedCTC">
      <th mat-header-cell *matHeaderCellDef> MonthlyFixedCTC </th>
      <td mat-cell *matCellDef="let element"> {{element.MonthlyFixedCTC}} </td>
    </ng-container>
    <ng-container matColumnDef="TotalPerformanceBonus">
      <th mat-header-cell *matHeaderCellDef> TotalPerformanceBonus </th>
      <td mat-cell *matCellDef="let element"> {{element.TotalPerformanceBonus}} </td>
    </ng-container>
    <ng-container matColumnDef="Performance_Installments">
      <th mat-header-cell *matHeaderCellDef> Performance_Installments </th>
      <td mat-cell *matCellDef="let element"> {{element.Performance_Installments}} </td>
    </ng-container>
    <ng-container matColumnDef="Performance_EachPayment">
      <th mat-header-cell *matHeaderCellDef> Performance_EachPayment </th>
      <td mat-cell *matCellDef="let element"> {{element.Performance_EachPayment}} </td>
    </ng-container>
    <ng-container matColumnDef="JoiningBonus">
      <th mat-header-cell *matHeaderCellDef> JoiningBonus </th>
      <td mat-cell *matCellDef="let element"> {{element.JoiningBonus}} </td>
    </ng-container>
    <ng-container matColumnDef="Joining_Installments">
      <th mat-header-cell *matHeaderCellDef> Joining_Installments </th>
      <td mat-cell *matCellDef="let element"> {{element.Joining_Installments}} </td>
    </ng-container>
    <ng-container matColumnDef="Joining_EachPayment">
      <th mat-header-cell *matHeaderCellDef> Joining_EachPayment </th>
      <td mat-cell *matCellDef="let element"> {{element.Joining_EachPayment}} </td>
    </ng-container>
    <ng-container matColumnDef="MedicalInsurance">
      <th mat-header-cell *matHeaderCellDef> MedicalInsurance </th>
      <td mat-cell *matCellDef="let element"> {{element.MedicalInsurance}} </td>
    </ng-container>
    <ng-container matColumnDef="TotalCTC" stickyEnd>
      <th mat-header-cell *matHeaderCellDef> TotalCTC </th>
      <td mat-cell *matCellDef="let element"> {{element.TotalCTC}} </td>
    </ng-container>
  
    <!-- Star Column -->
    <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>more_vert</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>