<div class="outer">
  <div class="toolbar"> 
     <mat-toolbar >
      <button class="iconbtn" (click)="navigateaddform()" matTooltip="Add new Employee" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>

    </mat-toolbar>
  </div>
    <div class="dash">
        <!-- <mat-drawer-container>
            <mat-drawer #drawer class="example-sidenav" mode="side"></mat-drawer>
           <button mat-icon-button (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon></button>
        </mat-drawer-container> -->
     
            <!-- <mat-drawer-container class="example-container" autosize>
                <mat-drawer #drawer class="example-sidenav" mode="side">
                 
                  <button (click)="showFiller = !showFiller" mat-raised-button>
                   
                  </button> 
                  
                </mat-drawer>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon></button>
            
  
                 
              
              </mat-drawer-container>  -->

  
      </div>
<div class="inner">
    <mat-form-field style="width:100%;"><i style="font-size: 30px" matTooltip="SEARCH" class="material-icons">
        search
        </i>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="">
      </mat-form-field>
  
  <div class="example-container mat-elevation-z8" style="width:100%; ">
  <table mat-table [dataSource]="dataSource" class="tabldata" matSort class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="Employee_ID" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="sort"> Employee_ID </th>
      <td mat-cell *matCellDef="let element" style="color:black; background-color: lightgray "> {{element.Employee_ID}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="EmployeeName" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> EmployeeName</th>
      <td mat-cell *matCellDef="let element"  style="color:black; background-color: lightgray "> {{element.EmployeeName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="DateofJoining">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DateofJoining </th>
      <td mat-cell *matCellDef="let element"> {{element.DateofJoining}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="PayCycle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PayCycle </th>
      <td mat-cell *matCellDef="let element"> {{element.PayCycle}} </td>
    </ng-container>
    <ng-container matColumnDef="AnnualFixedCTC">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> AnnualFixedCTC </th>
      <td mat-cell *matCellDef="let element"> {{element.AnnualFixedCTC}} </td>
    </ng-container>
    <ng-container matColumnDef="MonthlyFixedCTC">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> MonthlyFixedCTC </th>
      <td mat-cell *matCellDef="let element"> {{element.MonthlyFixedCTC}} </td>
    </ng-container>
    <ng-container matColumnDef="TotalPerformanceBonus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TotalPerformanceBonus </th>
      <td mat-cell *matCellDef="let element"> {{element.TotalPerformanceBonus}} </td>
    </ng-container>
    <ng-container matColumnDef="PB_Installments">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PB_Installments </th>
      <td mat-cell *matCellDef="let element"> {{element.PB_Installments}} </td>
    </ng-container>
    <ng-container matColumnDef="PB_EachPayment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PB_EachPayment </th>
      <td mat-cell *matCellDef="let element"> {{element.PB_EachPayment}} </td>
    </ng-container>
    <ng-container matColumnDef="JoiningBonus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> JoiningBonus </th>
      <td mat-cell *matCellDef="let element"> {{element.JoiningBonus}} </td>
    </ng-container>
    <ng-container matColumnDef="JB_Installments">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> JB_Installments </th>
      <td mat-cell *matCellDef="let element"> {{element.JB_Installments}} </td>
    </ng-container>
    <ng-container matColumnDef="JB_EachPayment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> JB_EachPayment </th>
      <td mat-cell *matCellDef="let element"> {{element.JB_EachPayment}} </td>
    </ng-container>
    <ng-container matColumnDef="MedicalInsurance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> MedicalInsurance </th>
      <td mat-cell *matCellDef="let element"> {{element.MedicalInsurance}} </td>
    </ng-container>
    <ng-container matColumnDef="TotalCTC" stickyEnd>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TotalCTC </th>
      <td mat-cell *matCellDef="let element" style="color:black; background-color: lightgray "> {{element.TotalCTC}} </td>
    </ng-container>
    <ng-container matColumnDef="Action" stickyEnd>
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" style="color:black; background-color: lightgrey ">
        <button mat-button><i class="material-icons">
          edit
          </i></button></td>
    </ng-container>
  
    <!-- Star Column -->
    <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>more_vert</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>